@media screen and (max-width: 1000px) {
    body{
        text-align: center;
        /* display: flex;
        flex-direction: column; */
    }
  
    div{
      margin-bottom: 20px;
    }  
  
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      
      background-color: rgb(16, 89, 66);
      display: flex;
      padding: 2%;
      /* height: 5rem;
      justify-content: space-between;
      align-items: center;
      height: 25%;
      padding-inline: 5%; */
  
    }
  
    .hamburger-menu{
      margin-top: 6%;
    }
  .logo{
   margin-top: 3%;
  }
  
    .logo h1{
      font-size:large;
    }
    .logo img{
      width: 20%;
    }
    .menu-links a{
      margin: auto;
    }
    .menu-links a:hover{
    
      color: #2DF3AE;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color:  #2DF3AE;
    
    }

    .text_section h1{
      /* font-size: smaller; */
    }
    .text_section img{
      display: none;
    }

    .landing_page{
      display:block;
    }

    .left{
      width:50%;
      height: 50%;
      flex-wrap: nowrap;
      background-color: none;

    }

    /* .footer{
      display: none;
    } */

    
.bottom{
  display: flex;
  flex-direction: column;
}

.left_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons{
  margin-top: 5px;
}

.right_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_h{
  font-size: larger;
}

.news_t{
  font-size: small;
  width: auto;
  margin-bottom: 100px;
  margin: auto;
}
.sub_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mail_input{
  width: auto;
}

.mail_submit{
  margin: 0;
  
}

.app_download{
  flex-direction: column-reverse;
}
.app_text{
  text-align: center;
  margin: auto;
}

.app_text h1{
  font-size: 2em;
}

.app_stores{
  align-items: center;
  justify-content: center;
}
  }
/* 
@media screen and (max-width: 400px){
  
    #hamburger-nav{
      

      align-items: center;
      justify-content: center;
    }

    


    

    .hamburger-menu{
      margin-top: 6%;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .logo h1{
      font-size:medium;
    }
    .logo img{
      width: 10%;
    }
  } */
  @media screen and (max-width: 850px){

    .text_section h1{
  
      margin: auto;
    }
    .comp_main p{
      margin: auto;
    }
    .app_download{
      padding: 20px;
      gap:0px;
    }
    .mobile_image{
      margin: auto;
    }
    .app_stores{
      flex-direction: column;
      gap: 0;
    }
    .app_info{
      width: auto;
    }
  }
@media screen and (max-width: 400px){

    body{
        
        /* overflow: hidden;  */
        /* min-height: none;  */
        /* height:100%; */
        /* width: 400px; */
        /* display: grid; */
       
    }

    html{
        scroll-behavior: none;
        
    }

    nav{
        justify-content:none;
        padding-inline: 0;
        height: 10vh;
        /* width: 100%; */

    }

    .landing_page{
        /* display: flex;
        flex-direction: column;
        height: auto;
        margin: auto; */
        display: flex;
        flex-direction: column;
        padding-block: 10%;
    }

    .left{
        margin: auto;
        width: 370px;
        padding: 30px;
        border-radius: 7px;
        background: none;
        place-items: center;
        
    }
    #hamburger-nav{
            
      
        align-items: center;
        justify-content: center;
      }
  
      
  
      .hamburger-menu{
        margin-top: 6%;
       display: flex;
       justify-content: center;
       align-items: center;
      }
  
      .logo h1{
        font-size:medium;
      }
      .logo img{
        width: 10%;
      }

    .text_section h1{
        font-size: large;
        text-align: center;
        width:80%;
    }

    .comp_main p{
         
        font-size: medium;
        width:80%;
        margin-bottom: 10px;
        /* padding:30px; */
    }

    .comp li{
      /* display: flex; */
      font-size: small;
      width:80%;
      align-items: center;
      justify-content: center;
    }

    h1{
        /* font-weight: 200; */
    }

    p{
        /* font-weight: 100; */
    }

 
 

    img{
        max-width: 50%;
        height:auto;
    }

    .send_money_btn{
      /* display: none; */
    }

    
    .dummy{
      font-size: larger;
    }
    .phone_and_email{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .phone img{
      display: none;
    } 


    .mail img{
      display: none;
    }

    .right_bottom{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .news_h{
      font-size: larger;
    }

    .news_t{
      font-size: small;
      width: auto;
      margin-bottom: 100px;
      margin: auto;
    }
    .sub_form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mail_input{
      width: auto;
    }

    .mail_submit{
      margin: 0;
      
    }

    .app_text h1{
      font-size: large;
    }
    .app_text p{
      font-size: medium;
    }

} 



