@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* COLOR SCHEME
Background: white

BLUE AND GREEN

Blue allocation:

Deep Blue: segments
Blue : Buttons
Light Blue

Green segments:

Dark green
Green
Light green


Text: Dark grey/black on light blue


*/

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

#desktop-nav {
  display: flex;
  background-color: #00a9ff;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-inline: 5rem;
}

.nav-links {
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.landing_page {
  background-color: aqua;
  display: flex;
  padding:10px;
  height: 80vh;
}

.left{
  /* display: flex; */
  margin-top: 5rem;
  width: 800px;
  height: 800px;


}

.right{
  background-color: red;
  width:20%;
  height: 65%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}

.rate{
  border: solid 1px;
  border-radius: 20px, 0, 20px, 0;
  height: 15%;
  padding: 5px;
  /* background-color: #00a9ff; */
}

.flat_rate{
  display: flex;
  margin: auto;
}



.convert_section{

}

label{
  display: block;
  font-weight: 600;
}

/* ----------EXCHANGE CARD SEGMENT---------- */
input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 100%;
  border-bottom: 2px solid green;
}

input#amount:focus {
  color: #9873fe;
  border-color: #9873fe;
}

.currency_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 20px 20px;
  background-color: #9873fe;
  color: #ffffff;
}

select option {
  background-color: #ffffff;
  color: #02002c;
}

button {
  font-size: 1em;
  width: 100%;
  background-color: #9873fe;
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  color: #ffffff;
  font-weight: 600;
}

#result1 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #e5dbff;
  padding: 0.8em 0;
}

/* ------------------------------------------- */
.conv{
    font-size: 1em;
  width: 100%;
  background-color: #73f9fe;
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  color: #ffffff;
  font-weight: 600;
}

.footer{
  height: 10vh;
  bottom: 0;
  background-color: #00a9ff;
}