@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
}

/* COLOR SCHEME
Background: white

BLUE AND GREEN

Blue allocation:

Deep Blue: segments
Blue : Buttons
Light Blue

Green segments:

Dark green
Green
Light green


Text: Dark grey/black on light blue


*/

body{
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#desktop-nav{
    display:flex;
    background-color: #00A9FF;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-inline: 5rem;
}

.nav-links{

    
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    
    
}