
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background-color: #2DF3AE;
}


#desktop-nav {
  display: flex;
  /* background-color: #00a9ff; */
  background-color: rgb(16, 89, 66);

}

nav {
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-inline: 5%;
  /* width: 100%; */
  text-align: center;
}

.sign-up{
  height: 42px;
  color: #fff;
  font-size: large;
  cursor: pointer;
  background: #0e5d41;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
  width: 100px;
  border: solid 1px white;
}

.logo{
display: flex;
align-items: center;
gap:1rem;
}

.logo a{
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.logo a{
  cursor: pointer;
  color: white;

}

.logo h1{
  color:#2DF3AE;
}

.logo h1:hover{
  /* text-transform: ; */
}

ul {
  align-items: center;
  list-style-type: none;
  display: flex;
  gap: 45px;
  font-size: larger;

}

li a{
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #2DF3AE;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color:  #2DF3AE;
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

/* .container .registration{
  display: none;
}

#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
} */

/* -------------------------------------------------------------------------- */

.container .login{
  display: none;
}

#check:checked ~ .login{
  display: block;
}

#check:checked ~ .registration{
  display: none;
}

#check{
  display: none;
}

/* ---------------------------------------------------------------------------- */


.container .form{
  padding: 2rem;
}

.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }

 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }

.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}

.form a:hover{
  text-decoration: underline;
}

.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover{
  background: #006653;
}

.signup{
  font-size: 17px;
  text-align: center;
}

.signup label{
  color: #009579;
  cursor: pointer;
}

.signup label:hover{
  text-decoration: underline;
}

     /*------------ HAMBURGER MENU------------------------- */

     #hamburger-nav {
      display: none;
    }
    
    .hamburger-menu {
      position: relative;
      display: inline-block;
    }
    
    .hamburger-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 24px;
      width: 30px;
      cursor: pointer;
    }
    
    .hamburger-icon span {
      width: 100%;
      height: 2px;
      background-color: #2DF3AE;
      transition: all 0.3 ease-in-out;
    }
    
    .menu-links {
      position: absolute;
      top: 145%;
      right: -95%;
      background-color: white;
      /* width: fit-content; */
      max-height: 0;
      overflow: hidden;
      transition: all 0.3 ease-in-out;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      background-color: rgb(16, 89, 66); 
      text-align: center;
      z-index:2;
      
    }
    
    .menu-links a {
      display: block;
      padding: 20px;
      text-align: center;
      font-size: medium;
      color: #2DF3AE;
      text-decoration: none;
      transition: all 0.3 ease-in-out;
      width: max-content;
      
    }
    
    .menu-links a:hover{
      text-decoration: underline;
      text-transform: bold;
    }
    
    .menu-links li {
      list-style: none;
      
    }
    
    .menu-links.open {
      max-height: 300px;
    }
    
    .hamburger-icon.open span:first-child {
      transform: rotate(45deg) translate(10px, 5px);
    }
    
    .hamburger-icon.open span:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger-icon.open span:last-child {
      transform: rotate(-45deg) translate(10px, -5px);
    }
    
    .hamburger-icon span:first-child {
      transform: none;
    }
    
    .hamburger-icon span:first-child {
      opacity: 1;
    }
    
    .hamburger-icon span:first-child {
      transform: none;
    }

    @media screen and (max-width:1080px) {


      .menu-links a{
        margin: auto;
      }
      .container{
        /* position:relative;       */
    
      }


    }


      @media screen and (max-width: 850px) {
        body{
            text-align: center;
        }
      .container{
        /* position: relative; */
      }
        div{
          margin-bottom: 20px;
        }  
      
        #desktop-nav {
          display: none;
        }
        #hamburger-nav {
          
          background-color: rgb(16, 89, 66);
          display: flex;
         
          /* height: 5rem;
          justify-content: space-between;
          align-items: center;
          height: 25%;
          padding-inline: 5%; */
      
        }
      
        .hamburger-menu{
          margin-top: 6%;
        }
      .logo{
       margin-top: 3%;
      }
      
        .logo h1{
          font-size:large;
        }
        .logo img{
          width: 20%;
        }
        .menu-links a:hover{
        
          color: #2DF3AE;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-color:  #2DF3AE;
        
        }
      }
      
      @media screen and (max-width: 400px){
        .container{
          /* position: relative; */
          z-index: 1;
        }
          #hamburger-nav{
            
      
            align-items: center;
            justify-content: center;
          }
      
          
      
          .hamburger-menu{
            margin-top: 6%;
           display: flex;
           justify-content: center;
           align-items: center;
           z-index: 2;
          }
      
          .logo h1{
            font-size:medium;
          }
          .logo img{
            width: 10%;
          }
        }