@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #2DF3AE;
    /* overflow: hidden; */
  }
  /* --------------------------- */
  html {
    scroll-behavior: smooth;
  }

  p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  #desktop-nav {
    display: flex;
    /* background-color: #00a9ff; */
    background-color: rgb(16, 89, 66);
  }
  
  nav {
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding-inline: 5rem;
  
  }
  
  .nav-links{
  
    padding: 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    gap:1rem;
    }
    
    .logo h1{
      color:#2DF3AE;
    }
    
    .logo h1:hover{
      color: white;
    }
    
    ul {
      align-items: center;
      list-style-type: none;
      display: flex;
      gap: 10px;
      font-size: larger;
    }


 
.sign-up{
    height: 42px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    background: #0e5d41;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    width: 100px;
    border: solid 1px white;
  }
  
  .sign-up:hover{
    background:#2DF3AE;
    border: solid 1px;
    font-size: larger;
  }
  
  
  li a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    color: #2DF3AE;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:  #2DF3AE;
  }
    
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-inline-end: auto;
  }



  .general_collapse{
    border-radius: 5px 5px 0 0;
  }

  .general_collapse h2{
    align-items: center;
    justify-content: center;
  }
  
  .account_collapse{
    
    border-radius: 0 0 5px 5px;
  }
  .collapsible:after {
    display: flex;
    flex-direction: row;
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: x-large;
    align-items: center;
    justify-content: center;
   
  }
  
  .active:after {
    content: "\2212";
    /* justify-content: center; */
  }
  
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    /* margin-bottom: 5%; */
  }

  section{
    margin-top: 10%;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .top{
    text-align: center;
    margin-bottom: 5%;
  }

  .note h2{
    text-align: center;
    
  }



      /*------------ HAMBURGER MENU------------------------- */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {

  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;

  
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: small;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  width: max-content;
  color: #333;
  
}



.menu-links li {
  list-style: none;
  
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
  @media screen and (max-width: 850px) {
    body{
        text-align: center;
    }
  
    div{
      margin-bottom: 20px;
    }  
  
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      
      background-color: rgb(16, 89, 66);
      display: flex;
      /* height: 5rem;
      justify-content: space-between;
      align-items: center;
      height: 25%;
      padding-inline: 5%; */
  
    }
  
    .hamburger-menu{
      margin-top: 6%;
    }
  .logo{
   margin-top: 3%;
  }
  
    .logo h1{
      font-size:large;
    }
    .logo img{
      width: 20%;
    }
    .menu-links a:hover{
    
      color: #2DF3AE;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color:  #2DF3AE;
    
    }
  }
  
  @media screen and (max-width: 400px){
    
      #hamburger-nav{
        
  
        align-items: center;
        justify-content: center;
      }
  
      
  
      .hamburger-menu{
        margin-top: 6%;
       display: flex;
       justify-content: center;
       align-items: center;
      }
  
      .logo h1{
        font-size:medium;
      }
      .logo img{
        width: 10%;
      }
    }