@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #2DF3AE;
    /* overflow: hidden; */
  }
  /* --------------------------- */
  html {
    scroll-behavior: smooth;
  }

  p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  #desktop-nav {
    display: flex;
    /* background-color: #00a9ff; */
    background-color: rgb(16, 89, 66);
  }
  
  nav {
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding-inline: 5rem;
  
  }
  
  .nav-links{
  
    padding: 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    gap:1rem;
    }
    
    .logo h1{
      color:#2DF3AE;
    }
    
    .logo h1:hover{
      color: white;
    }
    
    ul {
      align-items: center;
      list-style-type: none;
      display: flex;
      gap: 10px;
      font-size: larger;
    }
 
.sign-up{
    height: 52px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    background: #0e5d41;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    width: 150px;
    border: solid 1px white;
  }
  
  .sign-up:hover{
    background:#2DF3AE;
    border: solid 1px;
    font-size: larger;
  }
  
  
  li a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    color: #2DF3AE;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:  #2DF3AE;
  }
    
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
   
  }
  
  .active:after {
    content: "\2212";
    justify-content: center;
  }
  
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }