@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #2DF3AE;
    /* overflow: hidden; */
  }
  /* --------------------------- */
  html {
    scroll-behavior: smooth;
  }

  .site_name{
    font-size: xx-large;
  }
  .site_name a{
    text-decoration: none;
    color: #2DF3AE;
  }
  .site_name a:hover{
    color:white;
    text-decoration: underline;
    font-style: bold;
  }7777
  p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  #desktop-nav {
    display: flex;
    /* background-color: #00a9ff; */
    background-color: rgb(16, 89, 66);
  }
  
  nav {
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding-inline: 5%;
  text-align: center;
  }
  
  .nav-links{
  
    padding: 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    gap:1rem;
    }
    
    .logo h1{
      color:#2DF3AE;
    }
    
    .logo h1:hover{
      color: white;
    }
    
    ul {
      align-items: center;
      list-style-type: none;
      display: flex;
      gap: 45px;
      font-size: larger;
    }


 
.sign-up{
    height: 42px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    background: #0e5d41;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    width: 100px;
    border: solid 1px white;
  }
  
  .sign-up:hover{
    background:#2DF3AE;
    border: solid 1px;
    font-size: larger;
  }
  
  
  li a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    color: #2DF3AE;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:  #2DF3AE;
  }
    
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-inline-end: auto;
  }



  .general_collapse{
    border-radius: 5px 5px 0 0;
  }

  .general_collapse h2{
    align-items: center;
    justify-content: center;
  }
  
  .account_collapse{
    
    border-radius: 0 0 5px 5px;
  }
  .collapsible:after {
    display: flex;
    flex-direction: row;
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: x-large;
    align-items: center;
    justify-content: center;
   
  }
  
  .active:after {
    content: "\2212";
    /* justify-content: center; */
  }
  
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    /* margin-bottom: 5%; */
  }

  section{
    margin-top: 10%;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .top{
    text-align: center;
    margin-bottom: 5%;
  }

  .note{
    margin: 60px;
  }

  .note h2{
    text-align: center;
    
  }



      /*------------ HAMBURGER MENU------------------------- */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #2DF3AE;
  transition: all 0.3 ease-in-out;
}

.menu-links {

  position: absolute;
  top: 145%;
  right: -95%;
  background-color: white;
  /* width: fit-content; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(16, 89, 66); 
  text-align: center;

  
}

.menu-links a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: medium;
  color: #2DF3AE;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  width: max-content;
  
}

.menu-links a:hover{
  text-decoration: underline;
  text-transform: bold;
}

.menu-links li {
  list-style: none;
  
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}


/* Add a background color and some padding around the form */
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;

}


.bottom{
  display: flex;
  padding: 100px;
  color: white;
  background-color: rgb(16, 89, 66);
  justify-content: space-evenly;

}


.phone_and_email{
  display: grid;
}

.phone_icon{
  margin-bottom: 10px;
}

.dummy{
  width: 350px;
  color: white;
}



.phone,.mail{
  display: flex;
  color: white;
}

.bottom_text1{
  margin-left: 20px;
}

.social-icons{
  display: flex;
  margin-top: 150px;
  justify-content: center;
  
}

.fb_icon{
  color: white;
 width: 30px;
 height: 30px;
}

.fb_icon:hover{
  cursor: pointer;
  color: #2DF3AE;
}

.twit_icon{
  color: white;
  margin-left: 30px;
}

.twit_icon:hover{
  cursor: pointer;
  color: #2DF3AE;
}

.inst_icon{
  color: white;
  margin-left: 30px;
}
.inst_icon:hover{
  cursor: pointer;
  color: #2DF3AE;
}

.right_bottom{
  display: flex;
  flex-direction: column;
  
}

.news_h{
  margin-bottom: 10px;

}

.news_h{
  color: white;
}

.news_t{
  width: 300px;
  margin-bottom: 50px;
  margin: auto;
}

.sub_form{
  display: flex;
}

.mail_input{
  width: 300px;
  background-color: white;
  /* border: none; */
  border-radius: 5px;
}

.mail_input:hover{
  cursor: pointer;
}


form .mail_submit{
  padding: 15px;
  width: 150px;
  color: white;
  border-radius: 5px;
  background-color: #2DF3AE;
  border: solid .5px;
  margin-left: 60px;
  align-items: center;
}

form .mail_submit:hover{
  cursor: pointer;
  background-color: rgb(16, 89, 66);
}

.footer{
  height: auto;
  margin: 0;
  background-color: rgb(16, 89, 66);
  bottom: 0;
  /* position: absolute; */
  text-align: center;
  width: 100%;
  
  
}
.footer_segment p{
 color: white;
 font-size: larger;

}
  @media screen and (max-width: 850px) {
    body{
        text-align: center;
    }
  
    div{
      /* margin-bottom: 20px; */
    }  
  
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      
      background-color: rgb(16, 89, 66);
      display: flex;
      /* gap: 50px; */
      padding: 2%;
      /* align-items: center; */
      /* justify-content: center; */
      /* height: 5rem;
      justify-content: space-between;
      align-items: center;
      height: 25%;
      padding-inline: 5%; */
  
    }
  
    .hamburger-menu{
      /* margin-top: 6%; */
    }
  .logo{
   /* margin-top: 3%; */
  }
  
    .logo h1{
      font-size:large;
    }
    .logo img{
      width: 20%;
    }

    .menu-links a{
     
      margin: auto;
    }

    .menu-links a:hover{
    
      color: #2DF3AE;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color:  #2DF3AE;
     
    
    }

    .bottom{
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
    
    
    }
  }
  
  @media screen and (max-width: 400px){
    
      #hamburger-nav{
        
  
        align-items: center;
        justify-content: center;
      }
  
      
  
      .hamburger-menu{
        margin-top: 6%;
       display: flex;
       justify-content: center;
       align-items: center;
      }

      .collapsible {
        padding: 5px;
      }
  
      .logo h1{
        font-size:medium;
      }
      .logo img{
        width: 10%;
      }

      .top h2{
        font-size: medium;
      }

      .collapsible h2{
          font-size: medium;
      }
      .collapsible b{
        font-size: small;
      }
      .content p{
        font-size: smaller;
      }

      .note h2{

        font-size: large;

      }


      .dummy{
        font-size: medium;
      }
      .phone_and_email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .phone img{
        display: none;
      } 
  
  
      .mail img{
        display: none;
      }
  
      .right_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .news_h{
        font-size: larger;
      }
  
      .news_t{
        font-size: small;
        width: auto;
        margin-bottom: 50px;
        margin: auto;
      }
      .sub_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .mail_input{
        width: auto;
      }
  
      .mail_submit{
        margin: 0;
        
      }

    }