@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #2DF3AE;
    color: #333;
    

    
    /* overflow: hidden; */
  }
  /* --------------------------- */
  html {
    scroll-behavior: smooth;
  }

  
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  #desktop-nav {
    display: flex;
    /* background-color: #00a9ff; */
    background-color: rgb(16, 89, 66);
  }
  
  nav {
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    height: 25%;
    padding-inline: 5%;
  
  }

 
  
  .nav-links{
    /* justify-content: flex-end; */
    padding: 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    gap:1rem;
    }
    
    .logo h1{
      color:#2DF3AE;
    }
    
    .logo h1:hover{
      color: white;
    }
    
    ul {
      align-items: center;
      list-style-type: none;
      display: flex;
      gap: 10px;
      font-size: larger;
    }
    
    /*------------ HAMBURGER MENU------------------------- */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 145%;
  right: -95%;
  background-color: white;
  /* width: fit-content; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(16, 89, 66); 
  text-align: center;

  
}

.menu-links a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: medium;
  color: #2DF3AE;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  width: max-content;

 
  
}

.menu-links a:hover{
  text-decoration: underline;
  text-transform: bold;
}





.menu-links li {
  list-style: none;
  
  /* text-decoration: underline; */
  
  
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
    /* ---------------------------------------------------- */
.sign-up{
    height: 42px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    background: #0e5d41;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    width: 100px;
    border: solid 1px white;
  }
  
  .sign-up:hover{
    background:#2DF3AE;
    border: solid 1px;
    font-size: larger;
  }
  
  
  li a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    color: #2DF3AE;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:  #2DF3AE;
  }
  
  .content{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .top{
   display: flex;
   justify-content: center;
  }

h1{
  font-size: xx-large;
  color:  rgb(0, 64, 45);
}

h2{
  font-size: x-large;
  color: rgb(8, 73, 54)

}

p{
  font-size: large;
}

.top,.overview,.team,.mission{
margin-bottom: 10%;
}

.overview h2{
 margin-bottom: 3%;
 text-decoration: underline;
 font-size: xx-large;
 text-align: center;
}

.team_content,.mission_content{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}
.team_text p{
  font-size: x-large;
  text-align: center;
 
  width: 80%;
}
.team h2{
  margin-bottom: 3%;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  
}

.mission h2{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 3%;
  font-size: xx-large;
}

.mission_image{
  margin-left: 10px;
}
.mission_content p{
  font-size: x-large;
  text-align: center;
  
}

.mission_text{
  width: 80%;
}
.final{

    display: flex;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 1000px) {

  .mission_image img{
    display:none;
  }

  .team_image img{
    display: none;
  }

  /* .team_content{
    display: flex;
  } */

  .team_text{
    width:100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (max-width: 850px) {

  body{
      text-align: center;
  }

 .top h1{
    font-size: larger;
 }

 .overview h2{
    font-size: larger;
 }

 .overview p{
    font-size: medium;
 }

 .team h2{
   font-size: larger;
 }

 .team_text{
  display: flex;
 }

 .team_text p{
  font-size: medium;
  

 }

 .mission h2{
  font-size: larger;
 }

 .mission_text p{
    font-size: medium;
 }

 .final h1{
  font-size: large;
 }

  div{
    margin-bottom: 20px;
  }  

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    
    background-color: rgb(16, 89, 66);
    display: flex;
    /* height: 5rem;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding-inline: 5%; */

  }

  .hamburger-menu{
    margin-top: 6%;
  }
.logo{
 margin-top: 3%;
}

  .logo h1{
    font-size:large;
  }
  .logo img{
    width: 20%;
  }
  .menu-links a:hover{
  
    color: #2DF3AE;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color:  #2DF3AE;
  
  }
}

@media screen and (max-width: 400px){
  
    #hamburger-nav{
      

      align-items: center;
      justify-content: center;
    }

    .team_text{
      display: flex;
    }

    
 .top h1{
  font-size: large;
}

.overview h2{
  font-size: large;
}

.overview p{
  font-size: small;
}

.team h2{
 font-size: large;
}
.team_text p{
font-size: small;

}

.mission h2{
font-size: large;
}

.mission_text p{
  font-size: small;
}

.final h1{
font-size: medium;
}

div{
  margin-bottom: 20px;
}  

    

    .hamburger-menu{
      margin-top: 6%;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .logo h1{
      font-size:medium;
    }
    .logo img{
      width: 10%;
    }
  }

.final{
  text-align: center;
}


